@font-face {
    font-family: "Gilroy-Bold";
    src: url("./fonts/Gilroy-Bold.ttf");
}

@font-face {
    font-family: "Gilroy-SemiBold";
    src: url("./fonts/Gilroy-SemiBold.ttf");
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url("./fonts/Gilroy-Medium.ttf");
}

@font-face {
    font-family: "Gilroy-Regular";
    src: url("./fonts/Gilroy-Regular.ttf");
}

* {
    padding: 0;
    margin: 0;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}


/* часть home_page */

.home_page {
    margin-left: 30px;
}


/* часть header'а */

.header {
    display: flex;
    flex-direction: row;
}

.header_logo {
    display: flex;
    align-items: start;
    margin-top: 40px;
    margin-right: 346px;
    gap: 14px;
}

.header_logo_img {
    width: 35px;
    height: 40px;
}

.header_logo_text {
    width: 88px;
    margin-top: 5px;
    font-family: 'Gilroy-Bold';
}

.header_logo_text_black {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header_logo_text_red {
    color: #F25822;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header_nav {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    margin-top: 51px;
    margin-bottom: 94px;
    margin-right: 34px;
    width: 533px;
    justify-content: space-around;
}

.header_nav_link {
    text-decoration: none;
    font-family: 'Gilroy-Medium';
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header_nav_link.selected {
    text-decoration: none;
    font-family: 'Gilroy-SemiBold';
    color: #F25822;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header_nav_link_v {
    width: 6px;
    height: 3px;
    margin-bottom: 3px;
}

.header_button_getstarted {
    color: #FFF;
    font-family: Gilroy-SemiBold;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 120px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #F25822;
    border: none;
    margin-top: 40px;
}

/* часть home_page_main */

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    padding-bottom: 163px;
}

.main_content {
    padding-top: 60px;
    margin-right: 41px;
    justify-content: flex-start;
}

.main_content_heading {
    color: #000;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 522px;
    font-family: 'Gilroy-Bold';
}

.main_content_text {
    color: #888;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 17px;
    width: 466px;
    font-family: 'Gilroy-Medium';
}

.main_content_buttons {
    display: flex;
    flex-direction: row;
    margin-top: 37px;
    margin-left: 2px;
    gap: 27px;
    font-family: 'Gilroy-Bold';
}

.main_content_button_start {
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background-color: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    border: none;
}

.main_content_buttons_watch {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.main_content_watchvideo {
    color: #AAA;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 15px;
    margin-bottom: 15px;
}

.main_image {
    width: 544.814px;
    height: 374.843px;
    flex-shrink: 0;
}


/* часть brand */

.brand {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px;
    padding-top: 97px;
    padding-bottom: 96px;
}

.brand_img {
    width: 160px;
    height: 50px;
    flex-shrink: 0;
}


/* часть about_us */

.about_us {
    background: #FAFAFA;
    display: flex;
    flex-direction: row;
}

.about_us_content {
    position: relative;
    margin-left: 30px;
}

.about_us_content_heading {
    width: 409px;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 127px;
}

.about_us_content_text {
    width: 515px;
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-top: 20px;
    padding-left: 1px;
}

.about_us_content_button {
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border: none;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    margin-left: 1px;
    margin-top: 35px;
    margin-bottom: 124px;
}

.about_us_content_image {
    position: absolute;
    top: -23px;
    left: 483px;
}


/* часть features */

.features {
    display: flex;
    flex-direction: row;
    gap: 61px;
}

.margining {
    margin-left: 60px;
}

h3[class^="features_item_heading_"] {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 17px;
}

.features_item_heading_first {
    width: 215px;
}

.features_item_heading_second {
    width: 197px;
}

.features_item_heading_third {
    width: 186px;
}

.features_img {
    margin-bottom: 25px;
}

.features_item_text {
    width: 310px;
    margin-bottom: 25px;
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.features_item_button {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    border: none;
    background-color: white;
}

.features_item_fore {
    padding: 40px 31px 25px 29px;
    margin-top: 100px;
    margin-bottom: 100px;
    background: #FFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.features_item_back {
    margin-top: 140px;
    margin-bottom: 125px;
}


/* часть services */

.services {
    background: #FAFAFA;
    padding-top: 92px;
    padding-bottom: 100px;
}

.services_heading {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}

.services_heading_title {
    width: 579px;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.services_heading_text {
    width: 682px;
    color: #666;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.services_box {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.services_box_item_back,
.services_box_item_fore {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background: #FFF;
}

.services_box_item_fore {
    background: #FFF;
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.10);
}

.services_box_item_heading {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 22px;
}

.services_box_item_text {
    color: #AAA;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 39px;
}

.services_box_button {
    display: flex;
    align-items: center;
    width: 150px;
    height: 50px;
    flex-shrink: 0;
    border: none;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    margin-left: 1px;
    margin-bottom: 50px;
    padding-left: 46px;
    padding-top: 15px;
    padding-bottom: 15px;
    gap: 6px;
}

.services_box_button_text {
    display: flex;
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}



.services_box_button_img {}

/* часть what_we_do */


/* часть funfact */


/* часть mailbox */


/* часть plans */


/* часть team */


/* часть testimonials */


/* часть blogpost */


/* часть footer */