.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.center {
    padding-left: calc(50% - 500px);
    padding-right: calc(50% - 500px);
}

.loading-info {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}