.brand {
  position: relative;
  @include flex (_, row, _);
  background-color: #F1E4E6;

  &__left {
    position: relative;
    width: 50%;
  }

  &__image {
    @include for-absolute-zero (right);
    height: 100%;
  }

  &__right {
    position: relative;
    width: 50%;
  }

  &__title {
    @include flex (left, row, start);
    gap: 16px;
    margin-top: 289.9px;
    margin-bottom: 382.1px;
    margin-left: 63.42px;
  }

  &__vertical-line {
    width: 12px;
    height: 92px;
    flex-shrink: 0;
    background-color: $highlightedSiteColor;
  }

  &__heading-h1 {
    color: #222;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }

  &__heading-text {
    color: #222;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__heading-text:nth-child(2n-1) {
    color: $highlightedSiteColor;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

}