* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

a {
  text-decoration: none;
}

/* header part */

.header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  background: #222;
}

.header_logo {
  width: 44px;
  height: 38px;
  flex-shrink: 0;
  margin: 18px 41px 19px 1px;
}

.header_search {
  margin-top: 28.21px;
  margin-bottom: 20px;
}

.header_navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 26px;
  margin-bottom: 20px;
  margin-right: 10px;
  gap: 33px;
}

.header_sandwich {
  position: relative;
  appearance: none;
  cursor: pointer;
  background: transparent;
  border: none;
}

.header_cart {
  position: relative;
}

.header_cart_counter {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  right: -9px;
  background-color: rgb(241, 109, 127);
}

.header_cart_counter_number {
  line-height: 19px;
  color: rgb(255, 255, 255);
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}

/* brand_box part */

.header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  background: #222;
}

.header_logo {
  width: 44px;
  height: 38px;
  flex-shrink: 0;
  margin: 18px 41px 19px 1px;
}

.header_search {
  margin-top: 28.21px;
  margin-bottom: 20px;
}

.header_navbar {
  margin-top: 26px;
  margin-bottom: 20px;
  margin-right: 10px;
}

/* brand_box part */

.brand_box {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #F1E4E6;
}

.brand_box_left,
.brand_box_right {
  position: relative;
  width: 50%;

}

.brand_box_image {
  position: absolute;
  right: 0;
  height: 100%;
}

.brand_box_title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 16px;
  align-items: start;
  justify-content: left;
  margin-top: 289.9px;
  margin-bottom: 382.1px;
  margin-left: 63.42px;
}

.brand_box_vertical_line {
  width: 12px;
  height: 92px;
  flex-shrink: 0;
  background-color: #F16D7F;
}

.brand_box_heading_h1 {
  color: #222;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.brand_box_heading_text {
  color: #222;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.brand_box_heading_text:nth-child(2n-1) {
  color: #F16D7F;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* offer part */

.offer {
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  margin-bottom: 96px;
  gap: 30px;
}

.offer_top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 30px;
}

.offer_top_card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  width: 100%;
  min-height: 260px;
  background-size: cover;
}

.offer_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.offer_bottom_card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 180px;
  background-size: cover;
}

.offer_card_textbox {
  z-index: 10;
}

.offer_card_text {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.offer_card_text:last-child {
  color: #F16D7F;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.filter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.6;
  z-index: 1;
}

/* products part */

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.products_title {
  text-align: center;
  margin-bottom: 48px;
}

.products_title_h2 {
  color: #222;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.products_title_text {
  margin-top: 6px;
  color: #9F9F9F;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.products_box {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.products_card {
  background-color: #F8F8F8;
  max-width: 360px;
}

.products_card_image_box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F7E4E2;
  height: 420px;
}

.products_card_image_box_bg {
  display: none;
}

.products_card_image_box:hover .products_card_image_box_bg {

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(58, 56, 56, 0.86);
}

.products_card_image_box_bg_buy {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
  border: 1px solid #FFF;
  padding: 11.29px 16.41px 8.73px 13.56px;
}

.image_box_bg_text {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;

}

.products_card_text_box {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.products_card_title {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.products_card_description {
  color: #5D5D5D;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.products_card_price {
  width: 53px;
  color: #F16D7F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.products_button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #FF6A6A;
  width: 212px;
  height: 48px;
  flex-shrink: 0;
  color: #F26376;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 40px;
  margin-bottom: 60px;
}

.products_button:hover {
  background-color: #FF6A6A;;
  border: 1px solid #FF6A6A;
  color: rgb(225, 225, 225);
}

/* feature part */

.feature {
  background-color: rgb(34, 34, 36);
  display: flex;
  justify-content: center;
  padding: 104px auto;
}

.feature_items {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.feature_item {
  width: 360px;
  height: 134px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feature_text_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.feature_item_heading {
  color: rgb(251, 251, 251);
  font-size: 19.96px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  margin-bottom: 16px;

}

.feature_item_description {
  color: rgb(251, 251, 251);
  font-size: 13.97px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: center;
}

/* subscribe part */

.subscribe {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(./img/subscribe_background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 156px;
}

.subscribe_filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(244, 244, 244, 0.7);
  z-index: 1;
}

.subscribe_quote {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  z-index: 3;
}

.elipse_filter {
  position: relative;
  height: 96px;
  width: 96px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 30px;
}

.subscribe_quote_img {
  position: absolute;
  top: -10.41px;
  left: -24.29px;
  z-index: 3;
}

.subscribe_quote_text {
  width: 359.45px;
  color: rgb(34, 34, 36);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  z-index: 3;
}

.subscribe_quote_italic {
  font-style: italic;
  z-index: 3;
}

.subscribe_input {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 104px;
  padding-right: 93px;
  z-index: 3;
}

.subscribe_input_form {
  border-radius: 24.5px;
  background-color: rgb(225, 225, 225);
  overflow: hidden;
}

.subscribe_input_heading {
  color: rgb(34, 34, 36);
  font-size: 24px;
  font-weight: 700;
  line-height: 167.2%;
  align-items: center;
}

.subscribe_input_text {
  color: rgb(34, 34, 36);
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 32px;
}

.subscribe_input_email {
  padding-left: 22px;
  width: 256px;
  height: 49px;
  background-color: rgb(225, 225, 225);
  border: none;
  color: rgb(34, 34, 36);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0%;
  opacity: 0.67;

}

.subscribe_input_buttom {
  background-color: rgb(241, 109, 127);
  width: 100px;
  height: 49px;
  border: none;
  color: rgb(255, 255, 255);
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;

}

/* footer part */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 24px;
  padding-bottom: 23px;
  background-color: rgb(34, 34, 36);
}

.footer_copyright {
  color: rgb(251, 251, 251);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}

.footer_socilamedia {
  display: flex;
  gap: 7.29px;
}

.footer_socialmedia_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31.45px;
  height: 32px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.footer_socialmedia_item:hover {
  background-color: rgb(241, 109, 127);
}

/* media part */

@media (max-width: 768px) {

  .center {
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
  }

  .products_box {
    gap: 16px;
  }

  .offer {
    gap: 20px;
  }

  .offer_top {
    gap: 20px;
  }

  .offer_top_card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 231px;
    min-height: 167px;
    background-size: cover;
  }

  .offer_bottom_card {
    min-width: 734px;
    min-height: 116px;
  }

  .brand_box_title {
    margin-top: 138px;
    margin-bottom: 138px;
    margin-left: 39px;
  }

  .brand_box_vertical_line {
    width: 12px;
    height: 92px;
    flex-shrink: 0;
    background-color: #F16D7F;
  }

  .brand_box_heading_h1 {
    color: #222;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }

  .brand_box_heading_text {
    color: #222;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .brand_box_heading_text:nth-child(2n-1) {
    color: #F16D7F;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .feature_items {
    flex-direction: column;
    gap: 48px;
  }

  .feature {
    display: flex;
    padding-top: 48.16px;
    padding-bottom: 64px;
  }

  .subscribe {
    padding-top: 64px;
    padding-bottom: 140px;
    justify-content: start;
    flex-direction: column;
    gap:48px;
  }

}

@media (max-width: 375px) {

  .header_account,
  .header_cart,
  .brand_box_left {
    display: none;
  }

  .header,
  .offer {
    padding-left: 16px;
    padding-right: 16px;
  }

  .offer_top {
    flex-wrap: wrap;
  }

  .offer_top_card {
    min-width: 100%;
    min-height: 267px;
  }

  .offer_bottom_card {
    min-width: 100%;
    min-height: 116px;
  }

  .brand_box_right {
    width: 100%;
  }

  .brand_box_vertical_line {
    width: 12px;
    height: 61px;
  }

  .brand_box_title {
    margin-top: 148px;
    margin-bottom: 149px;
    margin-left: 56px;
    margin-right: 56px;
  }

  .brand_box_heading_h1 {
    color: #222;
    font-size: 38px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }

  .brand_box_heading_text {
    color: #222;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .brand_box_heading_text:nth-child(2n-1) {
    color: #F16D7F;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .subscribe {
    padding-top: 54.05px;
    padding-bottom: 109.92px;
    gap:59px;
  }

  .subscribe_quote_text {
    font-size: 18px;
  }

  .subscribe_input {
    padding-left: 0;
    padding-right: 0;
  }

  .subscribe_input_text {
    font-size: 14px;
  }

  .subscribe_input_form {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    width: 341px;
  }

  .subscribe_input_email {
    position: absolute;
    width: 60%;
    top: 0;
    left: 0;
    padding-left: 21.07px;
    height: 46.94px;
    z-index: 2;
  }
  
  .subscribe_input_buttom {
    width: 95.79px;
    height: 46.94px;
    z-index: 5;
  }

  .footer {
   flex-direction: column-reverse;
   padding-top: 43px;
   gap:40px;
  }

}