* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

a {
  text-decoration: none;
}

/* header part */

.header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  background: #222;
}

.header_logo {
  width: 44px;
  height: 38px;
  flex-shrink: 0;
  margin: 18px 41px 19px 1px;
}

.header_search {
  margin-top: 28.21px;
  margin-bottom: 20px;
}

.header_navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 26px;
  margin-bottom: 20px;
  margin-right: 10px;
  gap: 33px;
}

.header_sandwich {
  position: relative;
  appearance: none;
  cursor: pointer;
  background: transparent;
  border: none;
}

.header_cart {
  position: relative;
}

.header_cart_counter {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  right: -9px;
  background-color: rgb(241, 109, 127);
}

.header_cart_counter_number {
  line-height: 19px;
  color: rgb(255, 255, 255);
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}

/* brand_box part */

.header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  background: #222;
}

.header_logo {
  width: 44px;
  height: 38px;
  flex-shrink: 0;
  margin: 18px 41px 19px 1px;
}

.header_search {
  margin-top: 28.21px;
  margin-bottom: 20px;
}

.header_navbar {
  margin-top: 26px;
  margin-bottom: 20px;
  margin-right: 10px;
}

/* brand_box part */

.brand_box {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #F1E4E6;
}

.brand_box_left,
.brand_box_right {
  position: relative;
  width: 50%;

}

.brand_box_image {
  position: absolute;
  right: 0;
  height: 100%;
}

.brand_box_title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 16px;
  align-items: start;
  justify-content: left;
  margin-top: 289.9px;
  margin-bottom: 382.1px;
  margin-left: 63.42px;
}

.brand_box_vertical_line {
  width: 12px;
  height: 92px;
  flex-shrink: 0;
  background-color: #F16D7F;
}

.brand_box_heading_h1 {
  color: #222;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.brand_box_heading_text {
  color: #222;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.brand_box_heading_text:nth-child(2n-1) {
  color: #F16D7F;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* offer part */

.offer {
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  margin-bottom: 96px;
  gap: 30px;
}

.offer_top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 30px;
}

.offer_top_card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  width: 100%;
  min-height: 260px;
  background-size: cover;
}

.offer_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.offer_bottom_card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 180px;
  background-size: cover;
}

.offer_card_textbox {
  z-index: 10;
}

.offer_card_text {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.offer_card_text:last-child {
  color: #F16D7F;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.filter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.6;
  z-index: 1;
}

/* products part */

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.products_title {
  text-align: center;
  margin-bottom: 48px;
}

.products_title_h2 {
  color: #222;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.products_title_text {
  margin-top: 6px;
  color: #9F9F9F;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.products_box {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.products_card {
  background-color: #F8F8F8;
  max-width: 360px;
}

.products_card_image_box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F7E4E2;
  height: 420px;
}

.products_card_image_box_bg {
  display: none;
}

.products_card_image_box:hover .products_card_image_box_bg {

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(58, 56, 56, 0.86);
}

.products_card_image_box_bg_buy {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
  border: 1px solid #FFF;
  padding: 11.29px 16.41px 8.73px 13.56px;
}

.image_box_bg_text {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;

}

.products_card_text_box {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.products_card_title {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.products_card_description {
  color: #5D5D5D;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.products_card_price {
  width: 53px;
  color: #F16D7F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.products_button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #FF6A6A;
  width: 212px;
  height: 48px;
  flex-shrink: 0;
  color: #F26376;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 40px;
  margin-bottom: 60px;
}



@media (max-width: 768px) {

  .center {
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
  }

  .products_box {
    gap: 16px;
  }

  .offer {
    gap: 20px;
  }

  .offer_top {
    gap: 20px;
  }

  .offer_top_card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 231px;
    min-height: 167px;
    background-size: cover;
  }

  .offer_bottom_card {
    min-width: 734px;
    min-height: 116px;
  }

  .brand_box_title {
    margin-top: 138px;
    margin-bottom: 138px;
    margin-left: 39px;
  }

  .brand_box_vertical_line {
    width: 12px;
    height: 92px;
    flex-shrink: 0;
    background-color: #F16D7F;
  }

  .brand_box_heading_h1 {
    color: #222;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }

  .brand_box_heading_text {
    color: #222;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .brand_box_heading_text:nth-child(2n-1) {
    color: #F16D7F;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

}

@media (max-width: 375px) {

  .header_account,
  .header_cart,
  .brand_box_left {
    display: none;
  }

  .header,
  .offer {
    padding-left: 16px;
    padding-right: 16px;
  }

  .offer_top {
    flex-wrap: wrap;
  }

  .offer_top_card {
    min-width: 100%;
    min-height: 267px;
  }

  .offer_bottom_card {
    min-width: 100%;
    min-height: 116px;
  }

  .brand_box_right {
    width: 100%;
  }

  .brand_box_vertical_line {
    width: 12px;
    height: 61px;
  }

  .brand_box_title {
    margin-top: 148px;
    margin-bottom: 149px;
    margin-left: 56px;
    margin-right: 56px;
  }

  .brand_box_heading_h1 {
    color: #222;
    font-size: 38px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }

  .brand_box_heading_text {
    color: #222;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .brand_box_heading_text:nth-child(2n-1) {
    color: #F16D7F;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

}