body {
    height: 200px;
    background: beige;
}

.dot {
    height: 8px;
    width: 8px;
    border-radius: 4px;
    background: blue;
    position: absolute;
}

#progress {
    background-color: blue;
    width: 0;
    height: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
}