/* Дополнительный материал и подсказки

box-shadow: 0px 1px 2px 3px black inset
0 - смещение по горизонтали
1 - смещение по вертикали
2 - радиус разброса тени (опционально)
3 - рамер тени (опционально)
black
inset */

* {
  box-shadow: 0px 1px 2px 3px black inset;
  /* 0 - смещение по горизонтали
1 - смещение по вертикали
2 - радиус разброса тени (опционально)
3 - рамер тени (опционально)
black
inset  */
  text-shadow: 1px 2px 3px black, 4px 5px 6px orange;
  /* 1 - смещение по горизонтали
2 - смещение по вертикали
3 - радиус разброса тени (опционально)
black - цвет тени (опционально)
4 - смещение второй тени по горизонтали
5 - смещение второй тени по вертикали
6 - радиус разброса второй тени (опционально)
black - цвет второй тени (опционально)
*/
  opacity: 0.1;
  /* от 0.0 до 1.0 */
}