.input {
  appearance: none;
  border: 1px solid rgb(164, 164, 164);
  width: 360px;
  height: 45px;
  padding: 15px;
  line-height: 15px;
  box-sizing: border-box;
}

.option-input {
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid #999;
  transition: 0.2s all linear;

  &:checked {
    border: 5px solid $highlightedSiteColor;
  }
}