@media (max-width: 1024px) and (min-width: 768px) {
  $siteWidth: 768px;

  .center {
    padding-left: 15px;
    padding-right: 15px;
  }

  .brand {
    &__title {
      margin-top: 138.1px;
      margin-bottom: 151.47px;
      margin-left: 40px;
    }

    &__heading-h1 {
      font-size: 44px;
    }

    &__heading-text {
      font-size: 24px;
    }
  }

  .offer {
    &__top {
      gap: 19px;
    }

    &__top-card {
      min-height: 167px;
    }

    &__bottom-card {
      min-height: 116px;
    }
  }

  .feature {
    padding-top: 48px;
    padding-bottom: 64px;

    &__items {
      flex-direction: column;
    }
  }

  .products {
    &__box {
      gap: 15px;
    }

    &__card {
      &_hidden {
        position: absolute;
        left: -999999px;
        visibility: hidden;
      }
    }
  }

  .subscribe {
    flex-direction: column;
    gap: 48px;
    padding-top: 64px;
    padding-bottom: 140px;
  }

  .filter-sort {
    display: flex;
    justify-content: space-between;
  }

  .product-description {
    top: 0px;
  }

  .shopping-cart {

    &__content {
      flex-direction: column;
    }

    &__left {
      &__buttoms {
        gap: 48px;
        justify-content: center;
      }

    }

    &__right {
      flex-direction: row;
      justify-content: center;
      gap: 15px;
    }
  }

  %same-font {
    font-size: 16px;
}

.registration {
  &__content {
    gap: 22px;
  }
}

}

@media (max-width: 375px) {
  $siteWidth: 375px;

  .center {
    padding-left: calc(50% - $siteWidth/2);
    padding-right: calc(50% - $siteWidth/2);
  }
}