.filter-sort {
  height: 132px;
  position: relative;
  display: flex;
  gap: 30px;
  padding-top: 39px;
  box-sizing: border-box;
}

.filter {
  padding-top: 13px;
  width: 360px;
  box-sizing: border-box;
  position: relative;
  z-index: 10;

  &[open] {
    box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
    background: $lightBackColor;
  }

  &__content {
    background-color: $lightBackColor;
    padding-top: 0;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
  }

  &[open] .filter__heading:before {
    color: $highlightedSiteColor;
  }

  &[open] svg {
    color: $highlightedSiteColor;
  }

  &__summary {
    display: flex;
    align-items: center;
    gap: 11px;
    padding-left: 16px;
  }

  &__heading::before {
    content: 'FILTER';
    color: $darkBackColor;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
  }

  &__item {
    margin-top: 16px;
  }

  &__link-box {
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding: 24px 16px;
  }

  &__link {
    color: rgb(111, 110, 110);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;

    &:hover {
      color: $highlightedSiteColor;
    }
  }

  &__head {
    color: rgb(111, 110, 110);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    padding: 8px 11px 11px 11px;
    border-bottom: 1px solid $lightBackColor;
    border-left: 5px solid $highlightedSiteColor;
  }

  &__item[open] .filter__head {
    color: $highlightedSiteColor;
  }
}

.sort {
  padding-top: 12px;
  display: flex;
  gap: 18px;

  &__details {
    position: relative;
  }

  &__summary {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__check {
    display: flex;
    align-items: center;
    gap: 9px;
    color: rgb(111, 110, 110);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;

    &__checkbox {
      display: flex;
      align-items: center;
      justify-content: center;
      appearance: none;
      height: 13px;
      width: 13px;
      border: 1px solid rgb(111, 110, 110);

      &:checked {
        border: 1px solid $highlightedSiteColor;
        background-color: $highlightedSiteColor;
      }

      &:checked::after {
        line-height: 0;
        content: '\2713';
        color: white;
      }
    }
  }

  &__heading {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 10px;
    color: rgb(111, 110, 110);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
  }

  &__heading::after {
    content: url(./img/arrow_down.svg);
    line-height: 0;
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: absolute;
    margin-top: 5px;
    box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
    background: rgb(255, 255, 255);
    padding: 7px 30px 11px 9px;
    z-index: 10;
  }
}