* {
    margin: 0;
    padding: 0;
}

.main-heading {
    text-align: center;
    margin: 10px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    gap: 10px;
    margin: 10px;
    padding: 10px;
}

.lesson {
    flex-wrap: nowrap;
    display: flex;
    border: 1px solid #000;
    padding: 10px;
    gap: 10px;
    flex-direction: column;
}

button {
    text-align: left;
    width: 110px;
}